.form-container {
    margin-top: 2rem;
    background-color: var(--second-color);
    padding: 1rem;
display: flex;
flex-direction: column;
width: 100%;
max-width: 30rem;
border-radius: var(--border-radius);
& form {
display: flex;
flex-direction: column;
padding: 1rem;  
& label {
    color: var(--fifth-color);
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}
 & .btn {
    outline:none;
    margin-top: 1rem;
    border-radius: var(--border-radius);
    border: none;
   border: solid 1px var(--fifth-color);
   cursor: pointer; 
   transition: all 0.3s;
   text-transform: uppercase;
    &:hover {
        background-color: var(--thirdary-color);
        color: var(--light-color);
        transition: all 0.3s;
    }
 }
}
}